src/test/resources/contains-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


    <flow name="contains">
        <os:store key="#[vars.key]"/>
        <os:contains key="#[vars.key]"/>
    </flow>

    <flow name="containsUnexisting">
        <os:contains key="#[vars.key]"/>
    </flow>
</mule>
