src/test/resources/default-partition-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <flow name="store">
        <os:store key="#[vars.key]" />
    </flow>

    <flow name="retrieve">
        <os:retrieve key="#[vars.key]" />
    </flow>

    <flow name="remove">
        <os:remove key="#[vars.key]" />
    </flow>
    
    <flow name="contains">
        <os:contains key="#[vars.key]" />
    </flow>
    
    <flow name="clear">
        <os:clear />
    </flow>

</mule>
