src/test/resources/private-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <os:object-store name="globalObjectStore"
                             entryTtl="10"
                             entryTtlUnit="MILLISECONDS"
                             maxEntries="10"
                             persistent="false"
                             expirationInterval="10"
                             expirationIntervalUnit="MILLISECONDS"/>

    <flow name="globalFlow">
        <idempotent-message-validator idExpression="#[payload]" valueExpression="#[payload]" objectStore="globalObjectStore"/>
    </flow>

    <flow name="privateFlow">
        <idempotent-message-validator idExpression="#[payload]" valueExpression="#[payload]">
            <os:private-object-store storeName="privateObjectStore"
                                     entryTtl="20"
                                     entryTtlUnit="MILLISECONDS"
                                     maxEntries="20"
                                     persistent="false"
                                     expirationInterval="20"
                                     expirationIntervalUnit="MILLISECONDS"/>
        </idempotent-message-validator>
    </flow>

    <flow name="implicitFlow">
        <idempotent-message-validator idExpression="#[payload]" valueExpression="#[payload]" storePrefix="implicitObjectStore"/>
    </flow>


</mule>