src/test/resources/remove-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">


    <flow name="remove">
        <try>
            <os:remove key="#[vars.key]" objectStore="${objectStore}" />
            <set-payload value="OK" />
            <error-handler>
                <on-error-continue type="OS:INVALID_KEY">
                    <set-payload value="INVALID_KEY" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="removeUnexisting">
        <try>
            <os:remove key="missaNotThereJarJar" objectStore="${objectStore}" />
            <set-payload value="problem" />
            <error-handler>
                <on-error-continue type="OS:KEY_NOT_FOUND">
                    <set-payload value="KEY_NOT_FOUND" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="unexistingStore">
        <try>
            <os:remove key="key" objectStore="notThere" />
            <error-handler>
                <on-error-continue type="OS:STORE_NOT_FOUND">
                    <set-payload value="STORE_NOT_FOUND" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>
</mule>
