src/test/resources/store-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

    <flow name="store">
        <try>
            <os:store key="#[vars.key]" objectStore="${objectStore}" />
            <set-payload value="OK" />
            <error-handler>
                <on-error-continue type="OS:INVALID_KEY">
                    <set-payload value="INVALID_KEY" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="idempotentStore">
        <try>
            <os:store key="#[vars.key]" failIfPresent="true" objectStore="${objectStore}" />
            <set-payload value="OK" />
            <error-handler>
                <on-error-continue type="OS:KEY_ALREADY_EXISTS">
                    <set-payload value="KEY_ALREADY_EXISTS" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="storeNullValue">
        <try>
            <os:store key="key" failOnNullValue="#[vars.failOnNullValue]" objectStore="${objectStore}" >
                <os:value>
                    #[null]
                </os:value>
            </os:store>
            <error-handler>
                <on-error-continue type="OS:NULL_VALUE">
                    <set-payload value="NULL_VALUE" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>

    <flow name="unexistingStore">
        <try>
            <os:store key="key" objectStore="notThere" />
            <error-handler>
                <on-error-continue type="OS:STORE_NOT_FOUND">
                    <set-payload value="STORE_NOT_FOUND" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>
    
</mule>
