src/test/munit/redis-objectstore-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:munit="http://www.mulesoft.org/schema/mule/munit" 
    xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
    xmlns:os="http://www.mulesoft.org/schema/mule/os"
    xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
    xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
        http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd">
    
    <munit:config name="redis-objectstore-test-suite.xml"/>
    
    <os:config name="Invalid_Redis_ObjectStore_Config" doc:name="Redis ObjectStore Config">
        <redis:nonclustered-connection host="127.0.0.1" port="6379">
            <reconnection failsDeployment="false">
                <reconnect count="1" frequency="100"/>
            </reconnection>
        </redis:nonclustered-connection>
    </os:config>
    
    <os:object-store name="Redis_Backed_ObjectStore" 
        doc:name="Redis Backed ObjectStore" 
        config-ref="Invalid_Redis_ObjectStore_Config" />

    <flow name="storeRandomIdFlow">
        <set-variable value="#[random() * 100000000]" doc:name="Set Variable" variableName="id"/>
        <logger level="INFO" doc:name="Logger" message="Start"/>
        <try>
            <os:store doc:name="Store" key="123" objectStore="Redis_Backed_ObjectStore"/>
            <error-handler>
                <on-error-continue type="OS:STORE_NOT_AVAILABLE">
                    <set-variable variableName="error-caught" value="true"/>
                    <set-variable variableName="error-type" value="#[error.errorType.identifier]"/>
                </on-error-continue>
            </error-handler>
        </try>
        <logger level="INFO" doc:name="Logger"/>
        <logger level="INFO" doc:name="Logger" message="end"/>
    </flow>

    <!-- Test that Redis connection failure is handled properly with failsDeployment=false -->
    <munit:test name="test-redis-objectstore-connection-failure-with-failsDeployment-false" 
        description="Test that Redis ObjectStore connection failure is handled by runtime when failsDeployment=false">
        <munit:execution>
            <flow-ref name="storeRandomIdFlow"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:assert-that 
                expression="#[vars.'error-caught']" 
                is="#[MunitTools::equalTo(true)]"
                message="Expected store operation to fail with STORE_NOT_AVAILABLE error"/>
            
            <munit-tools:assert-that 
                expression="#[vars.'error-type']" 
                is="#[MunitTools::equalTo('STORE_NOT_AVAILABLE')]"
                message="Expected error type to be STORE_NOT_AVAILABLE"/>
        </munit:validation>
    </munit:test>

</mule> 